# Ignore data folder
data
__pycache__

# Ignore Python cache files
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore log files
*.log

# Ignore any other temporary files
*.tmp
*.temp